.Ultimate{
    width: 100%;
    height: 920px;
    background-color: #F9FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
}
.Ultimate h1, h3{
    color: #0F2137;
    font-weight: 700;
}
.UltimateText{
    width: 583px;
    height: 141px;
    color: #0F2137;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 85px;
    gap: 20px;
}
.UltimateText h1{
    width: 551px;
    height: 50px;
    font-size: 2.125rem;
    margin: 0;
}
.UltimateText p{
    width: 570px;
    height: 71px;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    text-align: center;
}
.Features{
    width: 1193px;
    height: 454px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}
.FeaturesBox{
    width: 383px;
    height: 187px;
    display: flex;
    gap: 30px;
}
.FeaturesBox img{
    width: 88px;
    height: 88px;
    flex-direction: column;
}
.FeaturesBox h3{
    width: 265px;
    height: 30px;
    margin: 0;
    font-size: 1.125rem;
}
.FeaturesBox p{
    width: 265px;
    height: 90px;
    color: #343D48;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 15px;
}
.FeaturesBox span{
    width: 86px;
    height: 42px;
    color: #3183FF;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}
